[2015-04-07 18:32] knownasilya opened #2 "Bound `to` & block template"
Would be nice if the destination changed, the wormhole would rerender.

[2015-04-07 18:54] knownasilya opened #3 "Destination rerender breaks subsequent data changes"
I have something like the following, where the content of `setContent` is the destination. I recreate this destination every time, without changing the `to` attribute. Since the `destinationElement` is cached, the wormhole only works the first time, but once the popup is re-rendered it does not put the new data there.

[code]

[code]

[2015-04-17 04:50] lukemelia commented on #2
This has been implemented.

[2015-04-17 04:50] #2 closed

[2015-04-17 04:52] lukemelia commented on #3
@knownasilya not sure I'm totally following this. Is it addressed by the public API branch being merged?

[2015-04-17 12:45] knownasilya commented on #3
I don't think so, since the element is still cached. https://github.com/yapplabs/ember-wormhole/blob/master/addon/components/ember-wormhole.js#L11

[2015-04-17 12:47] lukemelia commented on #3
When `destinationElementId` changes, `destinationElement` will be invalidated, which triggers https://github.com/yapplabs/ember-wormhole/blob/master/addon/components/ember-wormhole.js#L28, which moves the DOM nodes to the new destinationElement. If I'm missing something, maybe you could create a failing test to demonstrate?

[2015-04-17 12:49] knownasilya commented on #3
Ah, missed that. Yes this should be solved. I'll give it a go to confirm.

[2015-04-17 13:26] knownasilya commented on #3
@lukemelia `destinationDidChange` never triggers, and the element is there. How does that observer work, if the element is the same as before?

[2015-04-17 13:37] knownasilya commented on #3
@lukemelia Also, if the `to` doesn't change, how will the `destinationElement` change, since it's cached and if removed from the DOM, does that reflect on the object?

Seems like the flow is `to` changed, get the element, element changed, append.
There isn't a path anywhere that says if element removed, recompute it, no matter if `to` changed or not.

[2015-04-17 14:13] lukemelia commented on #3
I think I need a test to understand. We're not observing the DOM -- that's against Ember's philosophy after all...

[2015-05-08 12:16] dschmidt opened #9 "Triggers error on Glimmer"
Hey,

after I upgraded from 0.1.x to latest release I can successfully open a wormhole.
When I try to navigate to another page tho, I get this error:

[code]

Really not sure if this is a Glimmer regression or wormhole using private deprecated API, so opening an issue here for starters.

BR,
Dominik

[2015-05-08 12:52] lukemelia commented on #9
Thanks for the report @dschmidt. Our tests are failing on canary with the same error. @krisselden and I spent some time investigating last night and were able to reproduce this error on canary without wormhole: http://emberjs.jsbin.com/mileqicono/3/edit

[2015-05-08 15:33] krisselden commented on #9
@dschmidt it would be helpful to have reproduction steps that don't involve App.reset(), there is some race condition in view.destroy() in the glimmer branch I'd like to get to the bottom of.

[2015-05-10 22:11] dschmidt commented on #9
@krisselden I'm pretty sure we don't use that in our application, still I'm not sure how to reproduce this in a minimal scope. I can try to isolate it tomorrow, otherwise - if I can't -, I can offer you to get access to the project to fiddle around with it yourself, I just can't disclose the repository publicly.

[2015-05-12 00:33] krisselden commented on #9
@dschmidt I've further narrowed it down to the {{#if }} helper destroys the component on falsy but leaves the destroyed component in the childViews of the parent, which leads to the eventual calling of willDestroyElement after it has already been destroyed, this is for certain a bug in canary and not in this library.

[2015-05-12 00:33] #9 closed

[2015-05-12 06:40] dschmidt commented on #9
Alright, thanks!

[2015-05-15 00:40] krisselden commented on #9
@dschmidt here is a jsbin of the glimmer issue http://output.jsbin.com/didaqevibi/1and here is the issue in ember tracking it https://github.com/emberjs/ember.js/issues/11077

[2015-05-18 07:11] krisselden commented on #3
The target being inside a view with a shorter lifespan is not supported.

[2015-05-18 07:11] #3 closed

[2015-05-18 07:19] krisselden commented on #3
To clarify further, you shouldn't target unstable dom elements, the element needs to stay stable while the wormhole component is rendered, generally people target an element sibling to the app, if you target within the app, you need to be careful the dom you target belongs to a view that will outlive the view the wormhole is in, also, that you are targeting a static element (not managed by ember).

[2015-06-11 19:36] chrislopresto opened #11 "Self-documenting Code Snippets"
Simplify the code snippet config using the same patterns now used in ember-modal-dialog, where snippets are pulled from the source files themselves. This allows us to ditch the examples directory entirely, ensuring everything will be consistent.

#### ember-modal-dialog Examples
- [hbs snippet](https://github.com/yapplabs/ember-modal-dialog/blob/58f40a2337cd9ce11364357e003b2eb418aa8ad9/tests/dummy

[2015-06-17 13:00] piotrpalek opened #12 "Uncaught TypeError: Cannot read property 'previousSibling' of null"
Hey I was trying to port my app to ember 1.13.1 and started getting this error when transitioning to other routes. I will try to make a jsbin later on, just posting this in case it is something known.
The error occurs here:
[code]

[2015-06-17 19:17] ssured opened #13 "How future proof is this library?"
First of all, thanks for this lib!

Even while it does not use private API, I wonder how future proof this is. It works great for me with Ember Glimmer 1.13. But what will happen when more advanced techniques are introduced to Glimmer? Shadow dom will get broken if we move Dom objects around, right? Maybe you can shed some light on the future stability of this plugin, it will help me deciding to h

[2015-06-17 19:23] lukemelia commented on #13
Hi @ssured. Ember core team member @krisselden was involved in helping us use public API to implement this addon. In addition, I know of at least one other core team member using this addon in client work. While you're correct that there are general tradeoffs to this addon's technique, Ember's API is not expected to be one of those tradeoffs.

[2015-06-17 19:45] ssured commented on #13
Thanks for your quick reply. I feel comfortable using the plugin, knowing it is core supported. Maybe something along your lines can be put in the readme, so others will know too.

[2015-06-17 19:45] #13 closed

[2015-06-18 09:39] piotrpalek commented on #12
Ok I didn't manage to replicate it in a jsbin (don't know if/how it's possible to load the addon there) but here's a really simple example app: https://github.com/piotrpalek/wormhole-bug which shows the bug. You have to run the app and click the `Second` link and it will trigger the error.

[2015-06-22 08:13] piotrpalek commented on #12
@lukemelia I saw you looked at a similiar issue (https://github.com/yapplabs/ember-wormhole/issues/9) do you think this could be also ember related?

[2015-06-22 14:27] krisselden commented on #12
This should have been fixed with https://github.com/emberjs/ember.js/pull/11425 but you are hitting it in 1.13.1?  If so, I'd love some help tracking it down. If you could make a jsbin or fiddle replicating it would be greatly appreciated.  Also, if you can set a breakpoint in wormhole willDestroyElement to see if it is being called twice and include the stack trace of both calls that would be hel

[2015-06-22 19:20] piotrpalek commented on #12
@krisselden yes even in 1.13.2, I provided a link above to an example app, I am not sure how to setup a jsfiddle with an ember-cli addon (in this case ember-wormhole). Do you have some base jsbin where I could show the app, assuming the above github repo isn't enough?

[2015-06-24 08:22] piotrpalek commented on #12
@krisselden so the `willDestroyElement` method isn't called twice, but I noticed that here:
[code]
`firstNode` and `lastNode` is the same. So later in `removeRange` (where the error occurs):
[code]

[2015-06-24 14:16] krisselden commented on #12
@piotrpalek thanks, this is definitely then a wormhole bug.  Do you want to submit a PR?  I know that this code handles this case https://github.com/krisselden/morph-range/blob/master/lib/morph-range/utils.js#L10-L14

[2015-06-24 16:31] piotrpalek commented on #12
@krisselden I've made a PR, bus as noted there, I tried to write a test for this but when I bumped the ember version to 1.13 in the addon, other tests were breaking as well. So I couldn't really test this without fixing all of them.
I also will have to maintain a seperate branch with this fix applied to the `0.3.1` version of ember-wormhole, because `master` doesn't work with https://github.com/ya

[2015-06-24 16:37] #12 closed

[2015-06-24 17:09] chrislopresto commented on #11
Addressed by 6a3a684c82977a95f0daf8183acccf5f6b57b529

[2015-06-24 17:09] #11 closed

[2015-07-14 08:39] olivierlesnicki opened #19 "Make ember-wormhole component extendible"
The only thing required is to call `this._super(...arguments)` in component's default hooks (willInsertElement, didInsertElement, etc...)

[2015-07-14 11:32] lukemelia commented on #19
+1, we would accept a PR for this.

[2015-07-15 23:38] adamesque opened #22 ""wormholing" elements destroys focus, selection"
If an element to be sent through an ember-wormhole currently has (or is the parent of an element that has) focus, the process of reparenting the element during `appendRange` destroys focus and shifts `document.activeElement` back to the `<body>`.

I'm running into this when using [ember-cli-focus-input](https://github.com/williamsbdev/ember-cli-focus-input) inside an [ember-modal-dialog](https://g

[2015-07-23 18:01] gpoitch opened #25 "Integration tests fail with ember-wormhole"
The default generated component integration tests from ember-cli fail if you use ember-wormhole in that component, since the destination element would be elsewhere in your application.
https://github.com/yapplabs/ember-wormhole/blob/0f48d27b56762140ce84f42e24dc80bff2c6d921/addon/components/ember-wormhole.js#L91

This can be fixed by shimming the destination into those tests, but I'm wondering if c

[2015-07-23 20:42] chrislopresto commented on #19
Merged.

[2015-07-23 20:42] #19 closed

[2015-07-24 15:04] lukemelia opened #28 "Tests should not require `Ember.View.views`"
It's is not available in canary

[2015-07-24 21:22] #28 closed

[2015-07-24 21:26] krisselden commented on #22
can you add a test for this?

[2015-07-24 22:00] adamesque commented on #22
Oh weird — I did! It's in the [PR](#23), right?

[2015-07-25 00:31] krisselden commented on #22
Sorry, I assumed it was squashed, it is the PR, I was just looking at the one commit by mistake.

[2015-07-25 01:02] adamesque commented on #22
No worries — I can squash too if that's what you prefer. Thanks for taking a look!

[2015-07-30 15:13] cdl opened #31 "jQuery selecting contents of a wormhole from inside component"
I'm using an `ember-wormhole` inside a component, and am trying to access an element that's inside the wormhole with `this.$()` in the component.

`component/template.hbs`
[code]

`component/component.js`
[code]

This however doesn't work, as although `this.$` is scoped to the component view, `ember-wormhole` moves the contents out of that view, meaning the component view is essentially empty (the

[2015-07-30 17:21] krisselden commented on #31
Likely ember-wormhole should just override .$() to do what people expect. If it is rendered in place it uses its element if it has been wormholed it should use the destinationElement.

A concern though, it could scope it to more.  I was thinking it would be safer originally for ember-wormhole to move a single static element it rendered in its layout, but there are use cases where having an extra e

[2015-07-31 02:18] chrislopresto commented on #31
@krisselden What do you think about a component property to opt into such a static container?

[2015-07-31 02:22] chrislopresto commented on #31
Could work in tandem with an override of `.$()` as necessary.

[2015-07-31 02:24] raycohen commented on #31
I think the wormhole is invoked **inside** the component with `_select` shown in @cdl's post.  There's nothing wormhole can do about the `$` function of things containing it... right?

[2015-07-31 02:45] raycohen commented on #31
Problem restated without pod-style file names, and showing an action:

`components/my-cool-form-template.hbs`
[code]
`components/my-cool-form.js`
[code]

[2015-07-31 02:56] raycohen commented on #31
My suggestion for a better way to do this, if you want to avoid `Ember.$('#destination')`, is to make an event emitter and pass it into a component inside the wormhole:

`components/my-cool-form.js`
[code]
`components/my-cool-form-template.hbs`
[code]
and `components/wormhole-input-wrapper.js`
[code]

[2015-07-31 18:21] #22 closed

[2015-09-16 03:58] mdehoog opened #33 "Inner component action sent to wormhole component instead of outer component (canary)"
Using Ember canary, when an "outer" component has an "inner" component that's inside a wormhole, and the "inner" component sends an action, the action is fired on the wormhole itself, causing the error:
[code]
It used to be fired correctly on the "outer" component, but is broken since https://github.com/emberjs/ember.js/pull/12289.

I've also raised an issue on the ember.js repository: https://git

[2015-09-16 10:04] FezVrasta opened #34 "Append to a not empty element?"
Looks like I can't set as wormhole endpoint an element with already some nodes inside. Why that? Is there any workaround?

Thanks.

[2015-11-04 23:05] prashn64 opened #36 "Focus is dropped on iOS chrome."
The recent commit that deals with retaining works nicely with most browsers, but fails on chrome for iOS.

I have a repository where it is reproducible:

https://github.com/prashn64/focus-repro-wormhole

[2015-11-04 23:54] prashn64 opened #37 "Keystrokes are dropped on wormholed inputs"
I have a repository where it is reproducible:

https://github.com/prashn64/focus-repro-wormhole

This README outlines steps to reproduce (Bug 3), but it's essentially when you have a text input inside a wormhole that you only activate/deactivate when the text content changes.  It seems that ripping the input out of the DOM and then re-placing it in the wormhole is causing a few keystrokes to fall

[2015-11-24 18:02] coladarci commented on #25
Also seeing this - any advice on the easiest way to Shim?

[2015-12-30 13:01] brenoinojosa opened #38 "How to ignore moving to a Div if it doesn't exist?"
I'm using a third party plugin that I have no control over how it renders some divs. Some divs can be rendered, some not, depending on your screen width. The problem is that ember wormhole tries to look for that div id and if it doesn't exist, it will just throw an error. Is there a way to just say "don't try to move it if that div doesn't exist" instead?

I was thinking of an {{else}} for the wor

[2015-12-30 13:54] lukemelia commented on #38
@brenoinojosa I don't think I fully understand the situation you're describing. Are you talking about the "to" destination div?

[2015-12-30 17:56] brenoinojosa commented on #38
Yeah.. I want to be able to do it like:
"if there's no such div with ID described in `to` , then do x".

[2016-01-01 17:30] knownasilya commented on #38
I was just thinking of this same scenario, and I usually solve this with some kind of trigger to render the wormhole based on a boolean (if the div is there, then it's true).

Find a way to trigger a boolean when the div is there. This might not be that easy, but maybe you could use a MutationObserver.

[2016-01-01 17:34] lukemelia commented on #38
I am not a fan of this feature. Ember's philosophy is to avoid truth in DOM. The scenario you're describing is suggesting treating the presence or absence of a div as driving certain behavior. It would be much better to identify the root cause of the presence or absence of that div in your app and drive the behavior from higher up the tree than ember-wormhole.

[2016-01-01 17:36] knownasilya opened #39 "[Idea] component for the wormhole output"
Basically the wormhole would know when the receiver is rendered, and only then would it transfer the yielded content.

Something like the following:

[code]

[code]

This would allow for easier implementations (not when trying to integrate with third-party libs) when working in an ember app. Think a sidebar that has a header (defined in `application/template.hbs`) with a dropdown menu. The sidebar

[2016-01-01 17:40] lukemelia commented on #25
We're open to anything we can do to improve developer ergonomics here.

[2016-01-01 20:45] knownasilya commented on #39
You could do things like:

[code]

which could be used like:

[code]

[2016-01-01 21:11] knownasilya commented on #39
This might be better as another addon..

[2016-01-02 03:11] lukemelia commented on #39
@knownasilya sounds a lot like https://github.com/minutebase/ember-portal which is built on top of wormhole.

[2016-01-02 16:42] knownasilya commented on #39
Nice, didn't know about that.

[2016-01-04 15:25] knownasilya commented on #39
For anyone interested, here's a working example with ember-portal, https://github.com/knownasilya/ember-yielded-portals#yielded-portals

[2016-01-04 15:25] #39 closed

[2016-01-05 16:10] brenoinojosa commented on #38
I understand that checking the DOM is a bad practice in Ember. However, I can see benefits in setting a flag/calling a target function to handle this situation.

As I said, this situation happens very often when you have no control over a third party plugin and how it renders its elements, so there's no way to avoid an error there.

Just to illustrate, in my case I have two options to avoid an err

[2016-01-05 16:29] lukemelia commented on #38
@brenoinojosa So far, I'm not convinced this is something that belongs in wormhole, but can you share more about your specific use case?

[2016-01-05 16:49] brenoinojosa commented on #38
@lukemelia Sure.

I'm using vis.js (http://visjs.org/), a library that provides a couple of useful plugins such as the vis.Timeline. With it, I can plot dates and zoom in and out and also choose date ranges to select which dates and labels will show up.

Since I can't control the rendering of the entire timeline and I can give an ID to some elements, I use Ember-Wormhole to transport my component

[2016-01-05 16:49] jamerson commented on #38
I think the main concern in @brenoinojosa issue is not related to check the DOM. Sometimes the current way that ember-wormhole handles the 'element not found' situation(raising a exception) is not desired.
Perhaps a way to extend that point, like calling a callback or something, can improve reusability.

[2016-01-05 16:58] lukemelia commented on #38
I would be open to adding a `shouldRender` method that returns `true` and is overridable by a subclass. If you think something like that would work, I'd be happy to review a PR.

[2016-01-05 17:22] brenoinojosa commented on #38
Sounds great. This way I can have properties in the subclasses and decide wether it should be "wormholed" or not, keeping everything isolated in the new class itself.

Thanks for the quick responses. I'll work on a PR.

[2016-01-08 07:03] billybonks opened #40 "HTML Events don't seem to work"
Within a component you can create functions like `keyPress` which will run when the `keypress` event is invoked. but this doesn't seem to work on a wormhole component

[2016-01-22 15:16] knownasilya commented on #39
Here's another interesting implementation I came up with: https://github.com/knownasilya/ember-receive

[2016-02-01 21:35] foopoiuyt opened #41 "Packaged versions of ember wormhole lose focus on "wormholing""
Hello, we were running into the same issue as fixed in #23. It appears that the last packaged version (0.3.4) was released before that was merged, so it still happens when just doing an "ember install ember-wormhole". Would it be possible to get a newer version released?

Thanks.

[2016-02-01 21:52] chrislopresto commented on #41
Sure thing

[2016-02-01 21:57] chrislopresto commented on #41
v0.3.5 is up now. Sorry about that!

[2016-02-01 21:57] #41 closed

[2016-02-01 21:58] foopoiuyt commented on #41
Thanks.

[2016-02-16 06:31] billybonks commented on #37
may be related https://github.com/yapplabs/ember-wormhole/issues/40,

[2016-02-17 14:27] ayoubgdah opened #42 "Is there a callback (action) when the rendering has been done"
How to hook an action once the component has done the job of moving the DOM element?

[2016-02-17 14:50] lukemelia commented on #42
@ayoubgdah the DOM relocation happens synchronously during `didInsertElement`, which is during the Ember run loop's `render` queue, so if you schedule something on the `afterRender` queue (e.g. `Ember.run.schedule('afterRender', this, this.doMyUsefulThing);`), you should be good. Feel free to reopen if that doesn't solve your use case.

[2016-02-17 14:50] #42 closed

[2016-02-29 16:21] NullVoxPopuli opened #43 "How do I hook in to the render/move life event?"
I'm trying to use foundation modals, and I have this component:

[code]

and the wormhole moves the under-lying template fine, but I think it loses it's jQuery bindings.

Is there a way to hook in to the wormhole, and call:

`$(document).foundation('reflow');`?

[2016-02-29 16:31] NullVoxPopuli commented on #43
I found a solution: https://github.com/emberjs/ember.js/issues/13026#issuecomment-190278466

[2016-02-29 16:31] #43 closed

[2016-03-03 16:16] NullVoxPopuli commented on #25
is this something that is affecting the out come of tests? I just saw the error, but I'm only just starting to write tests for my app.

[2016-03-09 21:29] pavloo opened #44 "[Feature] Destination component which fires up an action when wormhole is mounted"
I have a use case, when I need to have some way of notifying context when wormhole is mounted into destination, eg
[code]
[code]
So when wormhole's content is inserted into `{{destination`, action `wormholeMounted` is fired. I already implemented this using [MutationObserver](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver) in my app. Do you think it might be useful having this f

[2016-03-09 21:45] chrislopresto commented on #44
Generally speaking we seek to avoid inferring application state from DOM. Could you provide more details? I'm curious as to why you couldn't extend from `ember-wormhole` and add additional logic in  `didInsertElement`.

I imagine something along these lines would work:

[code]

[2016-03-09 22:08] pavloo commented on #44
@chrislopresto yeah, it will work out. I over-engineered this thing. The issue can be closed. Thanks.

[2016-03-09 22:08] #44 closed

[2016-03-09 22:09] chrislopresto commented on #44
:+1:

[2016-03-29 12:05] adam-knights commented on #25
I got around this by doing the following:

Bring ENV into the component:

```import ENV from '../../config/environment';```

(Your directory structure may be different here)

In the init() method of the component call

```this.set('wormholeInPlace', ENV.environment === 'test');```

And then in the component template

[code]

[2016-04-11 17:57] djsegal opened #45 "Render a child view after target instead of inside it"
Is this currently possible? I want to ember-wormhole some `<li>` blocks into a `<ul>`.

Right now I can't get it to work because it is putting the `<li>` blocks into a div and breaking some css.

[2016-05-05 02:10] mdehoog commented on #33
Seems to be fixed, see comment in emberjs/ember.js#12317.

[2016-05-05 02:10] #33 closed

[2016-05-05 02:15] lukemelia commented on #33
👍  Thanks for following up, @mdehoog

[2016-05-12 16:07] bantic opened #47 "fastboot compatibility"
Is there any plan for or interest in adding fastboot compatibility to ember-wormhole?

I've made a [proof-of-concept here](https://github.com/bantic/ember-wormhole/commit/f3c7169a318b9f838bbddbe92d5ccb97b79f394e) that uses a few private APIs to work around Fastboot's restrictions and make it work in Fastboot. If there's interest in adding this functionality to ember-wormhole there are probably a f

[2016-05-12 16:08] stefanpenner commented on #47
@bantic I would say yes

[2016-05-12 16:10] bantic commented on #47
@stefanpenner 👍  If you have a chance to give any feedback on the methods used in [this POC](https://github.com/bantic/ember-wormhole/commit/f3c7169a318b9f838bbddbe92d5ccb97b79f394e) or the alt idea from @mixonic above I'd be happy to work toward one of them.

[2016-05-12 16:12] stefanpenner commented on #47
@bantic if you remind me this weekend, I absolutely can.

[2016-05-12 16:49] mixonic commented on #47
I think there are two thing that *could* change in @bantic's spike

* SimpleDOM doesn't support selectors (like `getElementById`) and will not. So the PoC creates a custom selector implementation. This can be removed if we permit an element to be passed to wormholes instead of an id. `{{ember-wormhole to=someDOMNode}}`. When using Fastboot, this would just be a SimpleDOM node which should mean eve

[2016-05-15 16:25] bantic commented on #47
@stefanpenner Ping, since you had asked for a reminder this weekend to look this one over. Matt's approach above looks good to me. For reference the working POC I have is here: https://github.com/bantic/ember-wormhole/commit/f3c7169a318b9f838bbddbe92d5ccb97b79f394e

[2016-05-25 18:10] trentmwillis opened #48 "Ability to replace content instead of appending"
Looking at [the current code](https://github.com/yapplabs/ember-wormhole/blob/0dfc76e82967a6876edfdbbd74f4cc7d5b928344/addon/components/ember-wormhole.js#L19), it seems that `ember-wormhole` only supports appending content into the destination. While this makes sense in a lot of cases, we have a use-case where it would be beneficial to replace the content of the destination instead.

In short, we

[2016-05-30 22:17] cibernox opened #49 "Call an user-provided action on didInsertElement/willDestroyElement"
I have a component with a template like this:
[code]

When the component gets opened/closed, I need to add some events to the root of the page.
I was thinking that it would be very handy to be able to instruct `ember-wormhole` to notify me when it gets added/removed to the dom.

My idea was `{{#ember-wormhole to=to renderInPlace=renderInPlace onInsert=(action "foo") onDestroy=(action "bar")}}`.

T

[2016-05-30 22:23] lukemelia commented on #49
@cibernox I'm not closed to the idea, but it seems a little awkward. You could achieve something similar by including your own component within the wormhole block which has actions on didInsertElement/willDestroyElement. Would that be more or less semantically appropriate in your use case?

[2016-05-30 23:25] cibernox commented on #49
It is true that I could create a third component that is rendered inside the wormhole like this:

[code]

However, that component would only exist with the sole purpose of letting me know when the wormhole has been rendered or removed from DOM, which is what I suggested just having two actions that the component calls when that happens.

Something I could do now is use `didReceiveAttrs` to check w

[2016-06-01 17:03] bantic commented on #47
Here's another attempt using a helper named `ember-wormhole-placeholder` as described above by @mixonic. https://github.com/yapplabs/ember-wormhole/compare/master...bantic:fastboot-without-private-apis

[2016-06-02 22:12] bantic commented on #47
There are a few blockers I'd like to get some feedback on:

 * Supported versions of Ember

ember-wormhole includes support for ember back to 1.10.1, which predates many current Ember features. The approach I am currently working on uses an Ember helper, but `Ember.Helper.helper` isn't available until Ember 1.13. Fastboot only supports Ember versions 2.3+, anyway, but it would be best if the fastb

[2016-06-03 14:05] lukemelia commented on #49
@cibernox Upon reflection, I am amenable to adding these actions, but... I think that they most often would not be the appropriate choice for end developers. In your simplified example, IMO whatever action resulted in isOpen changing is the action that should be used to do what you wanted to with adding/removing events to the root of the page.

[2016-06-03 14:22] cibernox commented on #49
@lukemelia Yes, I also reached the conclusion that I should probably use
`scheduleOnce('afterRender', this, this.reposition)` inside the `open` action. I think that this could work, but I haven't tried yet.

There is a few more problems to consider. By example, removing events on the `willDestroyElement` of the parent component, since the entire component can be removed without any `close` action

[2016-06-03 14:23] #49 closed

[2016-06-03 14:25] lukemelia commented on #47
@bantic Thanks for the thorough writeup.

Regarding supported versions of Ember, I think it is reasonable at this point to drop support for ember < 1.13 with an appropriate semver bump.

Regarding the wormhole subclassing, I think the pattern for the type of usage you described should be composition rather than inheritance. Wormhole should be open for extension via inheritance, but I think it is O

[2016-06-03 14:28] lukemelia commented on #45
@djsegal This is not currently possible.

[2016-06-03 14:29] lukemelia commented on #48
Closing in favor of discussion on #52

[2016-06-03 14:29] #48 closed

[2016-06-03 14:36] lukemelia commented on #49
👍  Thanks!

[2016-06-03 14:41] chrislopresto commented on #47
Picking back up on one of @mixonic's points. I think wormhole should support being passed an element as opposed to just an id selector. We could add support for this in a minor release and then take advantage of it here if it simplifies FastBoot matters.

I agree with @lukemelia about dropping support for < 1.13 with a semver bump.

Constraints on subclassed templates also seem fine. As an added b

[2016-06-03 16:17] djsegal commented on #45
@lukemelia we can close this, I found a way around it.

-----------

In my case, I was building a sidebar with breadcrumbs at the top and an index list at the bottom. Because of the temporality of the problem, I was able to just add everything sequentially (i.e. add one bread crumb for each depth of a resource and then a link for all its children).

Because I resolved this issue, I can't think of

[2016-06-03 16:40] lukemelia commented on #45
Thanks for the followup @djsegal

[2016-06-03 16:40] #45 closed

[2016-06-03 16:44] krisselden commented on #47
I think in general, extending a class requires knowledge of how it works, instead of knowledge of input/output.  I think it is fine for a power user but I've never been fan of SemVer guarantees about extending things via overrides, it pretty much shuts down any improvements to how things are accomplished.

[2016-06-08 18:59] bantic commented on #47
Fixed by #54.

[2016-06-08 18:59] #47 closed

[2016-06-08 19:01] bantic opened #57 ""unable to require.unsee" warning when running tests"
This appears to be due to the inclusion of ember-code-snippet, which brings in a dependency (browserify or highlight.js, probably) that stomps on the global `require`. See discussion in https://github.com/ef4/ember-code-snippet/issues/17

[2016-06-08 19:02] bantic commented on #57
(This warning seems benign, but I wanted to add an issue in case anyone else runs into it and is curious about the source of that warning.)

[2016-06-14 23:49] ianstarz opened #58 "Allow users to handle "failed to render into" errors"
It would be nice to be able to catch [these](https://github.com/yapplabs/ember-wormhole/blob/18182d598f9ef015a87c112d7d5e50ca19fb3c6f/addon/components/ember-wormhole.js#L88-L94) errors and handle them. Our use case is that if the wormhole doesn't find it's target, then we'd like to show a "not found" error state.

[2016-06-15 19:50] ianstarz commented on #58
@lukemelia welp, I ended up agreeing with you after trying this out. I don't think it's a feature needed at this time..

[2016-06-15 19:50] #58 closed

[2016-07-08 17:18] skaterdav85 commented on #25
I ran into this error as well. My solution was to just add the element from my test and then remove it when the test is over.

[code]

[2016-07-19 09:34] timmyomahony commented on #34
+1 For example, I have a mobile nav hamburger that I want to display within my wormhole destination _unless_ there is active content in the wormhole:

[code]

so ideally when I use `{{#ember-wormhold to="nav-icon"}}<img class="new-button" ... />{{/ember-wormhole}}` it would overwrite instead of append

[2016-07-22 16:11] adhamhf commented on #25
@skaterdav85 I like your solution b/c it does not involve modify production code to detect a testing environment.  @adam-knights your solution may have problems with acceptance tests. We were doing test env detection in production code to change behavior during tests and it causes acceptance tests to fail....

[2016-07-25 15:01] vladimir-e commented on #25
Maybe my case was simpler, I just added the element to `tests/index.html`:

[code]

[2016-08-03 21:03] brancusi opened #59 "Actions not firing in acceptance test"
Hi,

This only happens during a test.

Basically, it seems that when I have an interactive element mounted into something via wormhole, i.e. a popup menu with some menu buttons. clicking never triggers the action.

I am trying to trigger a menu open, and then a click button.

Any ideas?

Thanks

[2016-08-03 21:06] lukemelia commented on #59
See discussion here: https://github.com/yapplabs/ember-wormhole/issues/25

[2016-08-03 21:18] brancusi commented on #25
@lukemelia, thanks for pointing to this issue. Would you happen to be able to explain the last comment here? Is there more to the story to get that code snippet working?

Thanks

[2016-08-04 01:27] lukemelia commented on #25
@brancusi the crux of the issue is that if you relocate a node outside of the `rootElement` of the Ember app, then Ember's event delegation doesn't work. In addition, IIRC ember-testing's test helpers scope their actions to the test container. As a result, the `click` helper doesn't find nodes relocated to outside the test container, and even when you do click on them, the actions don't fire becau

[2016-08-13 16:34] brancusi commented on #25
Thanks @lukemelia. @vladimir-e, would you be able to share the test case? I'm still unsure on how to rig this to work.

Thank you

[2016-08-25 01:38] dlo83 opened #62 "Explicitly define compatibility with Ember 1.13+"
Tried getting this addon to work with Ember 1.12 to no avail.  As soon as I upgraded the Ember version to 1.13, things worked as expected.  Perhaps would be a good idea to note in the README.

[2016-08-29 13:58] #62 closed

[2016-08-31 23:35] cibernox opened #64 "[Glimmer] Doesn't work in canary since glimmer was enabled"
The error is in this line: https://github.com/yapplabs/ember-wormhole/blob/18182d598f9ef015a87c112d7d5e50ca19fb3c6f/addon/components/ember-wormhole.js#L39

`this.renderer._dom` is not longer available.

[2016-09-06 04:28] lukemelia commented on #64
@bantic WDYT?

[2016-09-06 14:06] bantic commented on #64
I think that renderer, or at least the `dom` should definitely still be available in glimmer, although it must be exposed in a different way. I will take a look.

[2016-09-06 17:26] #64 closed

[2016-09-11 21:49] simonihmig opened #66 "[Glimmer2] DOMException with {{#if}} helper"
When testing for compatibility of [ember-bootstrap](https://github.com/kaliber5/ember-bootstrap) with Glimmer2, I get the following exception with the modal component that uses ember-wormhole:

I narrowed it down to ember-wormhole using a conditional statement, as shown in the following minimalistic example. As soon as `show` is set to `true`, I get the mentioned exception:

[code]

Here is a demo

[2016-09-11 22:01] krisselden commented on #66
Glimmer 2 caches the parent element,  we need an API to tell glimmer it is reparented,  for now you need to wrap dynamic content in a static element

[2016-09-11 22:01] krisselden commented on #66
So put a div around that if

[2016-09-12 11:06] cibernox commented on #64
Can 0.4.1 (or a beta) containing this be published?

[2016-09-12 14:48] lukemelia commented on #64
@cibernox done https://github.com/yapplabs/ember-wormhole/releases/tag/0.4.1

[2016-09-12 22:40] simonihmig commented on #66
Thanks @krisselden for the quick feedback. Indeed, your suggestion fixes the problem!

If I understand you correctly this workaround will be obsolete once some changes to Glimmer have landed, is that right? Is that already tracked somewhere?

[2016-09-13 00:27] krisselden opened #67 "use inject(`service:-document`) vs getDOM"

[2016-09-13 00:31] rwjblue commented on #66
@simonihmig - Yes, it will likely be fixed by some API collaboration between ember-wormhole and Ember/Glimmer.  To help facilitate that, it would be good to get a failing test PR submitted (notice that the canary build [is currently passing](https://travis-ci.org/yapplabs/ember-wormhole/jobs/159333807)).

[2016-09-13 17:05] simonihmig commented on #66
@rwjblue There you go...

[2016-09-14 16:15] simonihmig opened #69 "this._dom is undefined for Glimmer2 + Fastboot"
When running addon tests in a Fastboot environment, I get the following exception since canary includes Glimmer2:

I tracked this down, this comes from this line of code: https://github.com/yapplabs/ember-wormhole/blob/master/addon/components/ember-wormhole.js#L41.

Further debugging showed that `renderer._env.getDOM()` indeed returns `undefined` over here: https://github.com/yapplabs/ember-wormho

[2016-09-14 19:31] lukemelia commented on #69
@simonihmig are you testing with the latest release? (0.4.1) Not all Glimmer2 issues are addressed, but I believe this one has been.

[2016-09-14 19:34] simonihmig commented on #69
Yes, I am! Should have mentioned that...

[2016-09-15 20:49] nmcclay commented on #69
I also encountered this today testing with ember-cli@2.9.0-beta.1 which has Glimmer 2 enabled by default (I'm not certain about fastboot). My partials that rely on wormhole are crashing on the same line 41 that @simonihmig indicated.

[2016-09-15 21:14] nmcclay commented on #69
Hmm... apparently I'm mistaken.  Pulling the latest version of ember-wormhole this issue has gone away for me.  Apologies for the false positive!

[2016-09-23 08:37] simonihmig opened #70 "Support tagless wormholes"
I was trying to create a tagless wormhole for not adding anything to the DOM where the wormhole is placed, like this: `{{#ember-wormhole tagName="" to="..."}`. This failed badly, both the wormholed content as well as I think the sibling nodes of the wormhole got screwed up badly.

I can try to bring up a more precise description of what the effect exactly is if needed, but it seems this just does

[2016-09-25 21:36] rwjblue commented on #66
FYI - We just submitted https://github.com/tildeio/glimmer/pull/331 to specifically support ember-wormhole for Ember 2.9...

[2016-10-04 11:39] RobIsHere opened #71 "Error: The head node of a wormhole must be attached to the DOM"
I just experienced a problem with ember-wormhole 4.0 used by ember-power-select.

A quick google search got me to this issue on the ghost blog, which describes exactly my problem and was solved by reverting to 0.3.6:
https://github.com/TryGhost/Ghost/issues/7073

As the version upgrade 0.3.6 to 4.0 is about dom changes for fastboot, it looked possible that a bug was introduced there. So I also dow

[2016-10-11 14:40] Leooo commented on #59
@brancusi, having the same issue on acceptance tests, which is different than #25 (which is about integration tests).
I can transition to a ember-wormhole popup (using jquery, not the standard qunit's `click()`), but then I can not click anything on the mounted wormhole (even using jquery).

Did you manage to solve the issue?

Thanks

[2016-10-18 19:55] lukemelia commented on #67
I believe this has been addressed as of 0.5.0.

[2016-10-18 19:55] #67 closed

[2016-10-18 19:55] lukemelia commented on #69
I believe this has been addressed as of 0.5.0.

[2016-10-18 19:55] #69 closed

[2016-10-18 19:56] lukemelia commented on #71
@RobIsHere would you mind trying the new 0.5.0 and see if that works for your situation or not?

[2016-10-18 19:57] lukemelia commented on #70
@krisselden should this be possible?

[2016-10-31 13:28] adamlawson opened #74 "Emberjs 2.10.0-beta.2 issues"
Hi, we're testing the new ember beta and we're seeing a repetition issue with wormhole, the same code works fine on Ember 2.9. Image attached shows the repetition as well as the related console, errors.

Our use of wormhole is quite basic, we have wormhole target divs set up in a right-hand-side bar on application.hbs. The wormholes are populated from a component.

![bug](https://cloud.githubuserc

[2016-10-31 15:46] SaladFork commented on #71
Seeing this issue as well, and upgrading to 0.5.0 did not resolve it. I'll keep trying to create a minimal reproduction but haven't been able to yet.

In case it helps / is relevant, our usage roughly came down to a template with an `{{#if` that toggled between two `{{#ember-modal-dialog`s:
[code]
And an action which both toggled the condition and bubbled up to the route to transition away (result

[2016-10-31 17:36] leizhao4 commented on #74
I'm having the same issue when bumping ember-wormhole from 0.4.1 to 0.5.0. I'm on ember 2.10.0-beta.2 too.

When running my acceptance tests:
[code]

Hope it helps.

[2016-11-01 08:32] adam-knights commented on #74
@chadhietala would seem that the new getDom function is providing a ```_dom``` without a document property. Is this a bug with Glimmer 2 itself?

[2016-11-08 20:07] efx commented on #74
saw identical stack trace when running ember 2.10.0-beta.3 and ember-wormhole@0.5.0

[2016-11-10 05:13] #74 closed

[2016-11-14 03:51] minhnq013 opened #76 "Allow replacing the content of the target element"
Would it make sense to allow replacing the content of the target element? I am aware that it is difficult to retrieve the replaced element and I think that is fine.

[2016-11-14 10:37] urbany commented on #70
I also wanted to know if this was possible. Any update on this @lukemelia ?
If not possible, maybe the default `tagName` should be `span` so it isn't an element with `display: block`.

[2016-11-14 16:22] lukemelia commented on #70
@urbany I haven't had time to look into this and don't have any short-term plans to do so. Happy for someone else to dig in, though.

[2016-11-14 16:33] Kerrick commented on #34
I have a similar desire, I'd like to have some "skeleton UI" that shows up in my wormhole destination until the wormhole renders, and I'd love for ember-wormhole to clear out the destination element before rendering there.

Here's a reduced example:

[code]

[code]

I'd be perfectly happy with a `replace=true` attr.

[2016-11-14 16:37] lukemelia commented on #34
An attempt was made to implement this but ultimately abandoned due to tricky semantics. If anyone wants to dig further, you will want to review https://github.com/yapplabs/ember-wormhole/pull/52

[2016-11-14 16:55] simonihmig commented on #70
@lukemelia maybe I can try to do that...

However I wonder if there is some kind of major rewrite of ember-wormhole pending that would make tweaks like that obsolete? I am just guessing because of the other issue I filed (#66) and the PR (https://github.com/tildeio/glimmer/pull/331) that provided a better integration for Glimmer2.

If I understand correctly that better Glimmer2 integration has not

[2016-11-14 17:03] lukemelia commented on #70
There is work in progress for Glimmer2, most recently https://github.com/yapplabs/ember-wormhole/pull/75. @krisselden & @rwjblue may be able to provide more context as it relates to your possibly work.

[2016-11-14 17:12] simonihmig commented on #70
Yeah, I have seen this PR already, but it seems to have tackled some other problem. Not the new integration hook provided for Glimmer2 (the `#-in-element` thing). That is also already in the works?

[2016-11-14 17:17] lukemelia commented on #70
@simonihmig the `in-element` thing was worked on by @runspired but he discovered that the API was not yet sufficient to support wormhole's semantics.

[2016-11-15 15:02] simonihmig opened #77 "Attempting to inject an unknown injection: `service:-document`"
Since having upgraded to ember-wormhole 0.5.1 in our Ember 2.7 based app I see this exception. Seems to be related to #75.

I saw this in one of our apps after updating ember-light-table, that brings in ember-wormhole 0.5.1. Added an ember-try config for Ember 2.7 here: https://github.com/offirgolan/ember-light-table/pull/267, which is failing for 2.7 (see the Travis logs), probably also 2.6 (not

[2016-11-15 15:14] lukemelia commented on #77
@krisselden @rwjblue Any suggestions?

[2016-11-16 07:24] venkateshg5887 commented on #71
@lukemelia I tried the version 0.5.0 you suggested but no luck. It get solved only when reverting to 0.3.6

[2016-11-16 12:12] offirgolan commented on #77
@simonihmig thanks for adding the failing test cases in ELT. I've been getting the same failures with [ember-burger-menu](https://travis-ci.org/offirgolan/ember-burger-menu#L1015) for Ember 2.6 and 2.7.

[2016-11-16 16:43] graham-sportsmgmt opened #78 "Source Code for Demo?"
Excellent demo, where can we find the source code for it?

[2016-11-16 16:44] lukemelia commented on #78
It can be found in this addon's dummy app: https://github.com/yapplabs/ember-wormhole/tree/master/tests/dummy

[2016-11-16 16:44] #78 closed

[2016-11-16 16:46] graham-sportsmgmt commented on #78
Should that link not be included right underneath the link to the demo itself?

[2016-11-16 16:55] lukemelia commented on #78
Great idea @graham-sportsmgmt! Want to open a PR?

[2016-11-16 16:57] graham-sportsmgmt commented on #78
I'm new to this GitHub thing.  I'll try to figure out what you just said and do it though :)

[2016-11-16 16:59] lukemelia commented on #78
@graham-sportsmgmt Great, thanks. This is the perfect kind of thing for your first PR!

[2016-11-16 17:03] graham-sportsmgmt commented on #78
Which branch should I use for this?  Is it possible to have a documentation branch created?

[2016-11-16 17:05] lukemelia commented on #78
@graham-sportsmgmt you can create a branch off of master in order to use for the PR. An example name could be "doc-add-link-to-readme"

[2016-11-16 17:31] graham-sportsmgmt commented on #78
GitHub wasn't letting me create a branch, but it created one automatically as I saved the edits to readme.md.  PR generated, thanks for your guidance on this!

[2016-11-17 04:59] graham-sportsmgmt opened #81 "Programatically changing template?"
My use case will require us to change the content in a section depending on an input action elsewhere on the page.  Let's say that my navbar has two buttons on it, A and B.  When the user clicks A we need to load template X into the wormhole and when they click B we need to load template Y into the wormhole.

Is this possible?

I see how the demo/dummy app is linking a wormhole to a variable calle

[2016-11-18 14:09] lukemelia commented on #81
@graham-sportsmgmt There are a few ways to approach this, but a simple one might be:

[code]

[code]

[2016-11-29 10:48] medokin opened #82 "Error with Ember 2.10"
Using latest 0.5. Looks like #74 is still broken?

DEBUG: Ember             : 2.10.0
ember.debug.js:5732DEBUG: Ember Data        : 2.10.0
ember.debug.js:5732DEBUG: jQuery            : 3.1.1
ember.debug.js:5732DEBUG: Ember Simple Auth : 1.1.0

ember-wormhole.js:39 Uncaught TypeError: Cannot read property 'createTextNode' of undefined
    at Class.init (http://localhost:4200/assets/vendor.js:151140:

[2016-11-29 12:18] urbany commented on #66
This is happening in the current ember release build 2.10.0 (and the tests are failing with ember-wormhole@master), anyway I can help?

[2016-11-29 13:52] rwjblue commented on #66
@urbany - With latest ember-wormhole and ember@2.10, you need to have a stable root element inside the wormhole block. This is something that we will continue to iterate and work on, but for now the work around is fairly straightforward.

Change:

[code]

To:

[code]

[2016-11-29 14:16] urbany commented on #66
Thanks @rwjblue this solution also works for ember-tether

[2016-11-29 14:45] medokin commented on #82
Update: It works with 0.4

[2016-11-29 14:48] lukemelia commented on #82
@medokin does https://github.com/yapplabs/ember-wormhole/issues/66#issuecomment-263575168 address your issue?

[2016-11-29 15:09] medokin commented on #82
@lukemelia Unfortunately not.
It does not matter what the wormhole contains. It also crashes when its empty.
I will try to reproduce with an example.

[2016-11-30 00:43] brancusi commented on #82
Getting this as well even after upgrading to 0.5.0.

[code]

Every use has a single root element with no siblings as described in #66

Thanks

[2016-11-30 00:52] brancusi commented on #82
Just noticed the fix switch `_doc.document.createTextNode` to `_doc.createTextNode` wasn't part of the 0.5.0 release. Pulling straight from git worked for me. All seems good now.

Thanks

[2016-11-30 10:28] sly7-7 commented on #82
I've encountered this as well, 0.5.0 has the buggy behavior with glimmer2, but 0.5.1 is OK with the workaround.
Maybe this could be closed as the underlying issue is already tracked.

[2016-11-30 12:48] medokin commented on #82
There is a 0.5.1? have not seen it on releases page...

[2016-11-30 12:56] #82 closed

[2016-11-30 15:01] lukemelia commented on #82
Looks like 0.5.1 didn't get tagged or changelog'd. I'll fix shortly.

[2016-11-30 15:47] lukemelia commented on #82
FYI: https://github.com/yapplabs/ember-wormhole/releases/tag/0.5.1

[2016-12-04 18:06] simonihmig commented on #77
Any news on this one? /cc @krisselden @rwjblue

As Ember 2.10 is out, we have the choice of either using ember-wormhole 0.5.1 (which has these issues with 2.6/2.7) or stick to 0.4.1 (which seems to have issues with Ember 2.10, for me at least in a Fastboot env), but apparently currently no version that runs flawlessly in all Ember versions.

[2016-12-06 23:31] jwlawrence opened #84 "Can't find DOM in engine"
I'm getting an error when using ember-wormhole inside an ember-engine:

`Uncaught Error: ember-wormhole could not get DOM`

Looks like the `getDOM` util doesn't find 'service:-document' and the container lookup of 'renderer:-dom' results in an 'InteractiveRenderer' object that doesn't have a '_dom' property so it throws an error.

I'm not sure if this issue can be solved on the ember-wormhole side

[2016-12-09 02:57] lukemelia commented on #84
@jwlawrence I'll leave this open. I think this will ultimately be addressed through the use of `{{#in-element ...}} ... {/in-element}}` when it is ready

[2016-12-09 02:58] lukemelia commented on #81
I hope that gave you the direction you needed. Feel free to reopen if necessary.

[2016-12-09 02:58] #81 closed

[2016-12-11 23:39] marcemira commented on #84
@lukemelia can you link more information about that `{{#in-element ...}} ... {/in-element}}`, thanks!

[2016-12-16 12:58] jbailey4 commented on #84
@jwlawrence @lukemelia I'm seeing this issue as well when using ember-power-select, which uses ember-wormhole. @marcemira do you have a link to the issues you found regarding `{{#in-element ...}}` and `-render-portal`?

[2016-12-17 00:00] sevab opened #86 "Renders in place in Fastboot environment"
I'm running on 2.10.0 and there seems an issue where all wormholes are rendered in place in Fastboot environment, E.g:

[code]

Not sure if this is expected behavior when in Fastboot or a bug.

[2016-12-19 14:25] marcemira commented on #84
@jbailey4 if you're on ^ Ember 2.10, you can use `{{#-in-element aDomElement}} things you want appended to 'aDomElement' {{/-in-element}}`. Totally private, shouldn't be used... but hey! it works!

[2016-12-20 10:30] jbailey4 commented on #84
@marcemira Thanks!

[2016-12-31 03:35] dustinfarris commented on #84
This affects ember-power-select

[2017-01-09 14:00] knownasilya commented on #25
@lukemelia maybe ember-wormhole could warn the user when the wormhole isn't inside the `rootElement`? I spend probably half a day debugging my PR to ember-twiddle, which doesn't use the standard rootElement.

[2017-01-09 14:03] lukemelia commented on #25
Good idea, @knownasilya. I'd definitely be interested in a PR along these lines.

[2017-01-11 18:59] dbashford commented on #84
@jbailey4 given you are using power-select, what did the fix for this entail?  About to dig in and the suggestion didn't make perfect sense to me.

[2017-01-11 19:46] dbashford commented on #84
So, as mentioned above, it is erroring because the `-document` service cannot be found.

For giggles, I tossed that in as a dependency for the engine and it worked.

[code]

I'm inexperienced with some of the internals of all this, both with that particular service and with engines, so I feel like there may be some pitfalls to doing it this way?

[2017-01-12 03:36] jwlawrence commented on #84
Heh, I'm surprised that works. Not sure what the potential pitfalls of that approach are, but it seems dirty :)

I did come across this fork that leverages the `-in-element` component: https://github.com/mitchlloyd/ember-wormhole/commit/a70eea5f3f050a927d377c35145ffb1a7b251c0d

Haven't tried it yet, but it looks promising. Based off the diff it looks like there might be some issues with the tests

[2017-01-18 21:22] RobIsHere opened #87 "Renders the content twice while liquid-fire transition is in progress"
I noticed that the wormhole content is rendered twice into the target during liquid fire transitions using liquid-outlet.

I think for transitioning from route1 to route2 liquid-fire has both pages prepared. That results in rendering the wormhole content of both pages into my header buttons area.

[2017-02-01 18:37] simonihmig commented on #86
Seeing the same. Already spent some good amount of time investigating this. Will post updates once I see what is going on there...

[2017-02-02 00:22] Gaurav0 commented on #77
Actually, "service:-document" does exist in Ember 2.6 and 2.7 but in any case it is a faux service that returns window.document in the browser (and something else in Fastboot).

You can get an integration test to pass by adding the following to `beforeEach()`:

[code]

[2017-02-02 09:10] simonihmig commented on #77
@Gaurav0 OK, but that fixes the test, but not the app!? 😳

It is not an issue within tests only, it is real!

[2017-02-02 14:38] Gaurav0 commented on #77
@simonihmig If you're not using Fastboot / SSR, just add an initializer that registers service:-document the same way. If you are, right now I would just recommend upgrading to 2.8.

[2017-02-02 15:14] simonihmig commented on #77
The problem I have with that is that I use ember-wormhole in an addon (ember-bootstrap), as do many others (see above for references to ember-light-table, ember-burger-menu, ember-basic-dropdown). Won't add an initializer there for "fixing" things in a dependency.

[2017-02-02 15:23] cibernox commented on #77
Could the addon detect the ember version and only use `service:-document` in 2.8+?

[2017-02-02 15:50] Gaurav0 commented on #77
@simonihmig I would recommend for your addon, until this bug is fixed, to:

1. Use the registry fix I used above to get your addon's tests to pass.
2. Point any users of old Ember versions here if their app doesn't work so they can add the initializer.

[2017-02-02 19:05] simonihmig commented on #86
Did invest quite some time on this, and had some lenghty discussions at the `-fastboot` Slack channel. At least for Glimmer2, the `willRender` component hook will definitely not be called in FastBoot. This means the magic that `ember-wormhole` does is not triggered, and I currently see no way to make this happen, other than Glimmer2 at some point offers a direct API for ember-wormhole's use case (

[2017-02-10 00:57] caseklim commented on #84
I'm seeing the following error with a component using ember-wormhole after upgrading to 2.11 from 2.9. It's coming from "glimmer-runtime/lib/bounds" and not from ember-wormhole directly, but perhaps they're related:
[code]

Is there any update on `in-element`?

[2017-02-19 15:22] Leooo opened #88 "memory leaks"
Hello,

We have quite a lot of memory leak in our Ember acceptance tests and are trying to identify where it comes from.

We use ember-wormhole at different places in our app. Doing a javascript heap snapshot shows multiple detached nodes coming from ember-wormhole. Hard to know the exact place where the mem is not released, but by grepping what I see in the snapshot it seems like there are still

[2017-02-19 18:49] krisselden commented on #88
@Leooo The destination would need a reference back to the wormhole instance, the only way that would happen via an event listener you have not torn down when the app is destroyed.

You need to expand down to the GC root, it is below env in this.  This used to auto expand, but since they added weak references and internal v8 structures that are GCed this stopped work, you now have to find a "strong

[2017-02-19 20:23] Leooo commented on #88
@krisselden, tried to take another heap snapshot and can't reproduce. It may be because I'm now using an ember-gesture forked version containing a bug fix. Closing the issue.

[2017-02-19 20:23] #88 closed

[2017-02-20 05:44] shaunc commented on #66
Is there a ticket in glimmer for the APIs to move content around and/or tell glimmer to ignore changes to a DOM subtree (or however this is going to work)? I have addons that also teleport content around, and need to figure out how to be compatible with glimmer. Wrapping in a static element doesn't seem to be enough for me...

[2017-02-27 09:23] cibernox commented on #25
fwiw, `ember-basic-dropdown/ember-power-select` conditionally use the `#ember-testing` div as destination in testing to make this thing work smoothly in tests.

https://github.com/cibernox/ember-basic-dropdown/blob/b495a032dcaca7f4292c4c3f70aac2b0f1cf3d98/addon/components/basic-dropdown/content.js#L255-L261

[2017-03-03 21:32] XaserAcheron commented on #84
Oof. Ran straight into this one like a brick wall. :P

Another `ember-power-select` user here; @dbashford's workaround did the trick, fortunately, though that's naturally not a permanent solution. At the very least, that's something future-Googlers can do until  `in-element` stuff hits.

[2017-03-04 15:25] jwlawrence commented on #84
FWIW, updating to Ember 2.11 and ember-engines 0.4 has resolved this issue for me.

[2017-03-15 10:40] lolmaus commented on #59
We're covering modals rendered via `ember-wormhole` with acceptance tests and clicks work correctly.

Is this issue specific to integration tests?

[2017-03-15 11:57] Leooo commented on #59
@lolmaus we have the issue in acceptance tests, refactoring to ember-elsewhere now for this reason.

Not able to give more precise details, but wondering if this because the wormhole destination id sits outside the `{{content-for 'body}}'` maybe??

[2017-03-15 11:58] lolmaus commented on #59
@Leooo Try targeting the modal with jQuery in browser console.

[2017-03-15 12:01] Leooo commented on #59
@lolmaus did that and it helped to detect presence of modal. Problem is when clicking a button inside the created modal, which is supposed to transition. Then nothing happens (even when using jQuery).

[2017-03-15 12:08] lolmaus commented on #59
@Leooo So:
1. You can target the modal with jQuery from the console.
2. You can target the button within the modal with jQuery from the console.
3. When you click the button manually, it works.
4. When you click the button via `$('selector').click()` in the console, it doesn't work?

Please double check item 2.

[2017-03-15 13:04] Leooo commented on #59
1. yes
2. yes, I can test for presence of the button inside the modal using jQuery
3. yes, outside the tests (the app works)
4. `$('button:contains("Yes, cancel")').click();` works locally and transitions (outside my test), but nothing happens when clicking it inside my test

[2017-03-15 13:06] lolmaus commented on #59
@Leooo

1. Are you using the same selector as in tests?
2. Can you confirm that the jQuery object you're clicking on in test does contain the button element?

[2017-03-15 13:45] Leooo commented on #59
Yes:

[code]

[2017-03-15 14:07] lolmaus commented on #59
@Leooo Sounds like a legit issue. Can you make a reproduction twiddle?

[2017-03-15 14:20] Leooo commented on #59
(and that's when I usually disappear..)

[2017-03-16 09:12] tschoartschi commented on #84
I'm using `Ember 2.12.0`, `Ember-CLI 2.12.0-beta.1`, `ember-power-select 1.5.0` and `ember-engines 0.5.0-beta.9` and I still need @dbashford's workaround. I'm not sure if it is a good idea to pass around a private service. Are there any alternatives to `-document`

[2017-04-12 12:46] perlun commented on #84
The same for me, with Ember 2.12.1 and ember-engines 0.5.0.

[2017-05-10 17:38] jasonbekolay commented on #71
(For someone who may be googling the error message...)

I was seeing the same error, although my use case was different. I have my own component that extends ember-wormhole and started seeing this error at version 0.4.0. The template for my component looked like this:
[code]
The solution was to add the unbound helpers to my template:
[code]

[2017-05-23 11:06] michaelbushe opened #91 "Programmatic wormhole?"
Can I programmatically populate a div with a wormhole on a DOM event?  The element to populate is not created by Ember (there's no template to add a "show me" flag to.

I am creating an Ember app that is a table with, basically, a row for each Person.  Each row must have an icon that the user can click to expand the row to show more data about the person (a "table row accordion").  The table is th

[2017-05-24 16:12] jacojoubert commented on #71
I ran into this error with the latest version of Ember (2.13.2). Turned out it was an addon that was running old version of ember-cli. Upgrading it fixed the issue.

[2017-05-26 08:55] NvnTiwari commented on #25
Hi, If i use <button {{action 'search' "ab"}}> then i get error "had no action handler for search" but integration tests run fine but if i use {{action search "ab"}} then i don't get error "had no action handler for search" and works fine but again in integration tests i get error "You specified a quoteless path to the {{action}} helper which did not resolve to an action name (a string). Perhaps y

[2017-06-05 19:22] roelrz opened #92 "Keep Children in Destination Element"
According to the docs, if a wormhole is used on a route's template it will render it's children in the destination element when the route is rendered and removed when the route is exited.

With that being said, is there any way to keep the children in the destination element even after the route is exited?

My use case is to update the destination element every time a route changes but to keep the

[2017-06-08 14:53] tinyweasel opened #93 "Wormhole causes issue with power select"
Ember Power Select uses Wormhole behind the curtains, and I've found that using them on the same page causes an issue with the dropdowns. When you open a dropdown, it will not collapse again. The issue does not occur when the wormhole component is deleted from that template. Any fixes?

[2017-06-09 12:54] simonihmig commented on #77
I revisited this today...

Interestingly I could not confirm what I said here today. So basically integrations tests were failing with the mentioned exception, but I could not reproduce this in a real app...

The approach @Gaurav0 mentioned [here](https://github.com/yapplabs/ember-wormhole/issues/77#issuecomment-276827442) did work for fixing the tests with Ember 2.6/2.7, but threw with later vers

[2017-08-01 12:21] sandydoo commented on #86
#96 provides a fix for this issue. So far I've been using it in development locally for over a month without issues, but consider it experimental until someone with more runloop/fastboot/wormhole experience confirms it's a viable fix. A merge would probably require everyone to decide on a fastboot testing strategy, so might be a while till that happens.

[2017-08-01 19:14] #86 closed

[2017-08-01 19:30] krisselden commented on #92
@roelrz there is no supported way, you can lobby for this feature and/or submit a PR.  Currently you can leak the DOM nodes by ```this._wormholeHeadNode.parentNode.insertBefore(this._wormholeHeadNode, this._wormholeTailNode)``` in `willDestroyElement`, or use `cloneNode(true)` on the node you want to keep.

[2017-08-23 22:04] sirahd commented on #59
@Leooo I also faced this issue. It turns out any element rendered outside `#ember-testing` will not trigger action in test environment.

https://github.com/yapplabs/ember-wormhole/issues/25#issuecomment-231418978 This one seems to be a working solution to the problem you have by inserting the target wormhole in test instead of the default one you have in your application code.

[2017-09-16 22:04] lukemelia commented on #91
This should be possible @michaelbushe. The destination element does not need to be within the Ember app. You may run into issues with event handling if the DOM element is outside of the Ember app's root element though (because typical event delegation won't work) but you could work around this.

[2017-11-06 00:01] edeis53 commented on #87
Issue is due to when using liquid-fire both routes (transition to and transition from) are displayed on the screen while doing transform animations. Consquently the wormhole will display the new content and the old content at the same time until the transition is complete and the from route is destroyed.

[2017-11-23 14:27] simonihmig commented on #77
Forgot to close this. Fixed this in #95

[2017-11-23 14:27] #77 closed

[2017-12-15 09:17] jlami commented on #71
@jacojoubert what part of the addon needed updating? I'm running into this problem too and can't really find anything in any addon. Only some that use old ember-cli-htmlbars (1.3.4)

In my case it seems to be happening in a render update. Maybe the contents has been moved correctly to the destination but there is a problem when they are moved back?

[2017-12-19 17:20] jacojoubert commented on #71
@jlami I just updated all the dependencies of my private add-on and it fixed the issue.

[2018-02-04 21:17] adambedford opened #103 "Wormhole from one component to another"
Is it possible to wormhole from one component to another? I'm getting the "missing DOM element" error in the console and the wormholed content is rendering in place

[2018-02-04 23:00] lukemelia commented on #103
The component with the destination DOM would need to be rendered at the time the source component is attempting to wormhole into it. It sounds like perhaps it isn't in your case. You may find that [ember-elsewhere](https://github.com/ef4/ember-elsewhere) is a better fit for sending a component reference from one spot to another component.

[2018-02-05 19:35] adambedford commented on #103
Thanks @lukemelia for the suggestion to use ember-elsewhere, it is working out perfectly!

[2018-02-05 19:35] #103 closed

[2018-02-11 06:58] offirgolan opened #104 "[Regression 0.5.3 to 0.5.4] Toggling renderInPlace"
I just noticed a regression going from v0.5.3 to the latest (v0.5.4). Toggling `renderInPlace` in the latest version only works the first time. Once the content is rendered in place, it can no longer be wormhole'd out.

I've created a twiddle to demonstrate this. Just click on the toggle button a few times and you'll see what I mean. If you switch the addon version to 0.5.3, it will work as expect

[2018-03-27 19:59] bstro commented on #66
Is there a reason this addon does not use https://github.com/glimmerjs/glimmer-vm/pull/331?

[2018-03-27 20:06] lukemelia commented on #66
@bstro I think this addon will be rendered unnecessary once that API becomes public. I'm open to PR that reimplements on top of in-element without breaking API.

[2018-03-27 20:10] lolmaus commented on #66
@bstro The reason is the API is not available yet? See the RFC: https://github.com/emberjs/rfcs/pull/287

But then there is this polyfill: https://github.com/kaliber5/ember-in-element-polyfill

[2018-04-06 06:45] roncodes commented on #87
Has anyone came up with a workaround for this? I am experiencing the same issue.

[2018-04-06 08:16] RobIsHere commented on #87
I did animations with css. I‘ve created a wrapper component that can delay its destruction for the animation duration. Everything else was just a matter of switching css classes.

I should have done this from start because it was so much more productive. As you go from transition definition by custom js api to well-known standard css

[2018-05-02 11:43] schlesingermatthias opened #105 "Can't use wormhole in dynamic DOM"
Hi,
I'd like to use ember-wormhole in a part of the DOM that is not always rendered (i.e. a dropdown). But that doesn't work as it throws an "element is not in the DOM" error when the component is not shown.

Is there an option to fail silently and render only if the DOM element with the specified id is actually inside the DOM?

Thank you.

[2018-05-03 08:56] schlesingermatthias commented on #105
@lukemelia Hi, I will do that. Any preferences regarding the name? `allowMissingId`?

[2018-06-07 14:45] cwhittl opened #106 "Demo Source is Missing"
I'm looking for the modal one specifically.

[2018-06-18 19:36] krisselden commented on #66
The `{{in-element}}` only is for append mode, if you change the target, in element clears the dom and runs the append program in the vm.  In ember-wormhole just moves the dom on update, it does not rebuild it.

@runspired had a PR to try to get `{{in-element}}` to work with the update vm, but this is complicated because the same caching of parentNode in bounds that caused edge cases in wormhole, m

[2018-09-05 17:44] CygnusRoboticus commented on #105
I've implemented a simple version of this using a `strict=true/false` option. The wormhole doesn't attempt to re-wormhole on DOM updates, it just suppresses the error and I toggle the wormhole separately. I can open a PR using `errorOnMissingDestination` instead, but is automatic re-wormholing a necessary feature?

[2018-09-20 19:57] #104 closed

[2018-11-09 19:02] Kilowhisky commented on #105
I'd like to help out with this as i the same use case of dropdowns where elements need to be populated dynamically by which components are shown in another section.

[2018-11-09 22:00] Kilowhisky commented on #105
It looks like unless there is an ember function to watch for DOM changes that is public, MutationObserver is the way to go. Unfortunately its only supported in IE 11 and up.

https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver

I can't see a clear and fast way to support older browsers. There's a CSS hack that supports IE 10+ but thats it. I'm still going to implement though as IE11

[2019-04-01 18:23] elwayman02 commented on #66
Is there any update on resolving this issue?

[2019-04-01 18:33] lukemelia commented on #66
@elwayman02 Not on my end, I'm sorry to say.

[2019-04-29 16:07] txm opened #108 "Ember 3"
Any plans to support Ember v3?

[2019-04-29 16:07] lukemelia commented on #108
Hi @txm, we are using wormhole with Ember 3. Are you experiencing difficulties?

[2019-04-29 18:56] txm commented on #108
I saw a warning on the cli from `ember s`
`DEPRECATION: ember-cli-babel 5.x has been deprecated. Please upgrade to at least ember-cli-babel 6.6. Version 5.2.8 located: ember-commons -> ember-wormhole -> ember-cli-babel`

In any event it turns out the unit test that was failing was due to an upgrade from `0.3.6` to `0.4.0`.  I'm not sure it's down to being subclassed, but either way, unrelated to e

[2019-04-29 18:56] #108 closed

[2020-02-24 16:19] kkincade commented on #84
I've upgraded to 3.15.1 recently and have noticed this error occurring. Does anyone know of an impact here with Glimmer components?

[2020-03-11 10:42] romgere commented on #66
Just for information same error happens with `{{component}}` helper when not wrapped in a parent div.

[2020-04-29 08:21] sandstrom opened #114 "Switch to {{in-element}}"
Would it make sense for this addon to switch to [{{in-element}})](https://github.com/emberjs/ember.js/pull/18867)?

Perhaps this addon serves another purpose and it doesn't make sense.

[2020-11-23 22:48] mpanic commented on #114
That would be nice, but it's not "yet" possible to simple switch to `{{in-element}}` because it doesn't accept/render ember variables.
`{{in-element}}` can only render plan HTML syntax.

[2020-11-24 10:01] sandstrom commented on #114
@mpanic Are you sure?

These two articles seems to suggest otherwise:

https://balinterdi.com/blog/using-in-element-in-ember-js/
https://dev.to/shayanypn/ember-js-in-element-feature-273l

[2021-02-01 16:40] jrdn91 opened #127 "Changing renderInPlace causes iframe to reload"
This may be a weird use case but here goes.

We have an iframe embedded in our page that runs a react app to display a live video feed with some embedded controls and some other pieces of functionality. We want this to render at the top of our main index page but when someone navigates to another page in the ember app it should basically "popout" and float in the bottom left hand of the screen.

I

[2021-06-02 19:59] nlfurniss opened #132 "Convert to Octane"
At some point this addon will need to be converted to octane.

[2021-06-03 18:22] nlfurniss commented on #114
@mpanic it seems to work. Here's [a demo](https://nlfurniss.github.io/ember-simple-wormhole/).

What do you think about investigating any feature gaps with this code and after any fixes, merging it in to this repo and releasing a v1?

[2021-06-05 00:48] #132 closed

[2021-07-19 21:16] #25 closed